body {
    background-color: #f0f8ff;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
}