/* Main */
body{
    background-color: rgb(39, 147, 255);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

/* Classes */
.sans{
    font-family: cursive;
}