body {
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration-line: underline;
}

#undertale-img {
    width: 100%;
    border: 5px solid red;
    border-radius: 5%;
}

h1 {
    position: relative;
    font-weight: 100;
    left: 20px;
    top: 20px;
}